{% extends 'nav1.html' %}

{% block content %}

<main class="page-content">
    <section class="hero-panel">
      <div class="container">

        {% comment %} <h1>Welcome to Jewelify</h1>
        <h2>Hello, {{ register.username }}!</h2> {% endcomment %}
        
        <p class="hero-tag">Curated Luxury Jewellery</p>
        <h1>Timeless pieces for<br>modern elegance.</h1>
        <p>Crafted with precision, styled with grace, and designed to stand the test of time.</p>
      </div>
    </section>
</main>

{% endblock content %}