{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /><title>Reset Password - Jewelify</title><link rel="stylesheet" href="{% static 'assets/plugins/tabler-icons/tabler-icons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  </head>
  <body>
    <main class="auth-page auth-page-login">
      <form class="auth-card" action="#" method="post">
        <header class="auth-header">
          <h1>Reset Password</h1><p>Your new password must be different from previous used passwords.</p>
        </header>
        {% csrf_token %}<label class="field"><span>Password</span><span class="input-box"><i class="ti ti-lock"></i><input type="password" name="password" placeholder="****************" /><i class="ti ti-eye-off"></i></span></label><label class="field"><span>Confirm Password</span><span class="input-box"><i class="ti ti-lock"></i><input type="password" name="password" placeholder="****************" /><i class="ti ti-eye-off"></i></span></label>{% if error_message %}
          <label class="field"><span style="text-align: center; display: block;"><p style="color: #dc3545; margin: 0;">{{ error_message }}</p></span></label>
        {% endif %}<button class="primary-button" type="submit">Submit</button><div class="divider">
          <span>OR</span>
        </div>
        <p class="auth-switch">
          Return to <a href="{% url 'login' %}">Login</a>
        </p>
      </form>
      <p class="copyright">Copyright &copy; 2026 - Jewelify.</p>
    </main>
  </body>
</html>
